.loader {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}